

@font-face {
    font-family: 'Dushick';
    /* Ensure the path below matches where you placed the file */
    src: url('./assets/fonts/DushickRegular-3lx96.otf') format('truetype');
}

/* Example usage */
.sitename {
        font-size: 3rem;
    font-family: 'Dushick', cursive !important;
}
/* Ensure nav-tabs scroll horizontally on small screens and hide scrollbar */
.nav-tabs {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Each nav item should display inline and avoid wrapping */
.nav-tabs .nav-item,
.nav-tabs .nav-link {
    display: inline-block;
}

/* Hide scrollbar: WebKit */
.nav-tabs::-webkit-scrollbar {
    height: 0;
    width: 0;
    display: none;
}

/* Hide scrollbar: Firefox */
.nav-tabs {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.MenuSections {
    font-weight: bold;
    font-size: 40px;
}

.SubMenuSections {
    font-weight: bold;
    text-align: center;

    font-size: 40px;
}